.buttonsMain {
  font-size: 20px;
  min-width: 210px;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 1px #cdeffb;
  color: #01628b;
  text-shadow: 0 1px 0 #b6e6f9;
  &:hover{
    cursor: pointer;
    filter: drop-shadow(4px 4px 4px #777777) contrast(200%);
  }
}