.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translate(0, 0);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  cursor: pointer;
  z-index: 1;
}
.modal__header {
  backdrop-filter: brightness(88%);
  margin: 0;
  padding: 20px;
  text-indent: -50px;
  width: 100%;
  font-size: 22px;
}
.modal__close {
  color: #ffffff;
  font-size: 22px;
  line-height: 20px;
  text-indent: -4px;
  position: absolute;
  top: 16px;
  right: 10px;
  width: 28px;
  height: 28px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  filter: brightness(.9);
  &:hover{
    filter: contrast(200%) brightness(1);
  }
  &:active{
    box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0);
  }
}

.modal__main-container {
  z-index: 2;
  width: 480px;
  height: 270px;
  color: #ffffff;
  background: #E84C3D;
  border: none;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__content-wrapper {
  margin: 50px auto;
  font-size: 15px;
  padding: 0 10px;
  white-space: pre-line;
}

.modal__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin:0;
}

.modal__button-left, .modal__button-right {
  padding: 7px 12px;
  color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
  filter: brightness(.9);
  min-width: 100px;
  backdrop-filter: brightness(88%);
  background: transparent;
  &:hover{
    backdrop-filter: brightness(80%);
  }
}